
<h3>Articles</h3>

<% @posts.each do |post| %>
  <div class="panel panel-default">
    
    <div class="panel-heading">
        <h3 class="panel-title"><%= link_to post.title, post %></h3>
    </div>

    <!-- Sumpoints area -->
    <div class="panel-body">
      <% post.sumpoints.each do |sumpoint| %>
        <ul>
          <li><%= sumpoint.body %></li>
        </ul>
      <% end %>
    </div>

    <!-- Footer for Post -->
    <div class="panel-footer">
      <small>
        Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> in 
        <%= link_to post.format.name, articles_path %> |
        Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> |
        <%= link_to pluralize(post.sumpoints.count,'SumPoint'), post %>
      </small>
    </div>



  </div>

<% end %>
