
<div id="tag_cloud">
  Top 10 Tags:<% tag_cloud Post.tag_counts_on(:tags).order('count desc').limit(10), %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: "label label-default" %>
  <% end %>
</div>

<hr>

 
<% @posts.each do |post| %>

  <%= render partial: 'votes/voter', locals: { post: post } %>
    
  <div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">
          <%= link_to post.title, post %> 

        </h3>
    </div>

    <!-- Sumpoints area -->
    <div class="panel-body">
      <% post.sumpoints.each do |sumpoint| %>
        <ul>
          <li><%= sumpoint.body %></li>
        </ul>
      <% end %>
    </div>

    <!-- Footer for Post -->
    <div class="panel-footer">
      <small>
        <span class="label label-info"><%= pluralize(post.points, 'Point') %></span> |
        Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> in 
        <%= link_to post.format.name, '#' %> |
        Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> |
        <%= link_to pluralize(post.sumpoints.count,'SumPoint'), post %>
      </small>
    </div>

  </div>


<% end %>

<%= will_paginate @posts %>
