<div class="col-lg-12 text-center">
    <%= link_to @post.url, :target => "_blank" do %>
    <h3>
      <%= @post.title %><br>
      <span class="badge"><%= pluralize(@post.sumpoints.count, 'SumPoint') %></span>
    </h3>
    <% end %>
    <%= render partial: 'followedposts/followpost', locals: { post: @post } %>
</div>
<hr>
<div>
<%= link_to new_post_sumpoint_path(@post) do %>
  <button type="button" class="btn btn-info btn-xs">
    <span class="fa fa-plus"></span> Add SumPoint
  </button>
<% end %>
</div>


<br>
 
<!-- Sumpoints area-->
<div class="col-md-12">
  <% @post.sumpoints.each do |sumpoint| %> 
    <%= content_tag :div, class: 'media', id: "sumpoint-#{sumpoint.id}" do %>
      <div class="panel panel-default">
          <div class="panel-body">

            <blockquote><%= sumpoint.body %></blockquote>

            <small>Posted by <b><%= sumpoint.user.name %></b> <%= time_ago_in_words(sumpoint.created_at) %> ago.</small>
          
            <br>
            <%= render partial: 'likes/liker', locals: { post: sumpoint.post, sumpoint: sumpoint } %>
            <small>
              Tags: <%= raw sumpoint.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
            </small>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
